.foto {
    background-image: url(imagenes/racket-6308994_640.jpg);
    width: 100%;
    height: 90vh;
    color:white;
    background-size: scale;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-position: center;
    padding: 50px;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 40px;
    }